[submodule "hugo/assets/bootstrap"]
	path = hugo/assets/bootstrap
	url = https://github.com/twbs/bootstrap
[submodule "hugo/assets/font-awesome"]
	path = hugo/assets/font-awesome
	url = https://github.com/fortawesome/font-awesome
